<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.com.z2wenfa.logviewer">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name="com.z2wenfa.logviewer.LogcatActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity
            android:name="com.z2wenfa.logviewer.LogcatDetailActivity"
            android:label="Log detail"
            android:theme="@style/Theme.AppCompat"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.z2wenfa.logviewer.LogcatActivity" />
        </activity>

        <service android:name="com.z2wenfa.logviewer.FloatingLogcatService" />

    </application>

</manifest>
